data
runs
attention
__pycache__
experiments
STAGCN_output*
**/.ipynb_checkpoints
notebooks
models_*

prediction_output
__pycache__/
*.py[cod]
**/.DS_Store

*.txt
*.pkl
!gt_preprocess/BX_template/*.txt
!gt_preprocess/FS_template/*.txt
!SportIndicator/GEval_template/*.txt
!GEval/GEval_Consistency_Template.txt
!requirements.txt
*.json
utils/loopgroundtruth.json
utils/humalMLgroundtruth.json
utils/check_checkpoint.py
utils/check_repulicate.py
utils/evaluation_score*

.env

output
output_finetune
output_Attention
output_STAGCN
output_pretrainSTAGCN_difference

BaseLine
results/finetune*
generate_boxing_gt.py