data
runs
attention
__pycache__
experiments
models*
STAGCN_output*
results


prediction_output
__pycache__/
*.py[cod]
**/.DS_Store

*.txt
*.json
utils/loopgroundtruth.json
utils/humalMLgroundtruth.json
