data
runs
attention
__pycache__
experiments
STAGCN_output*
results/**
**/.ipynb_checkpoints


prediction_output
__pycache__/
*.py[cod]
**/.DS_Store

*.txt
*.json
utils/loopgroundtruth.json
utils/humalMLgroundtruth.json
